server:
  port: 8080


spring:
  application:
    name: shopping-cart

  # Datasource Configuration (PostgreSQL)
  datasource:
    url: jdbc:postgresql://localhost:5430/shoppingdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    
  # JPA / Hibernate Configuration
  jpa:
    hibernate:
      ddl-auto: create-drop        
    show-sql: true                  
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  

# JWT Configuration
jwt:
  secret: mySecretKeyWithAtLeast32CharactersLongForHS256Algorithm
  expiration: 86400000
# Logging
logging:
  level:
    org.springframework.security: DEBUG   # Set to INFO in production
    com.abdullah.ShoppingCart: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE   # Logs SQL parameters

# Actuator Endpoints (optional)
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics